/* delete standart browser styles, root */
.link, .logo, .email, .phone, .phone-footer, .email-footer, .address, .project-link
{text-decoration: none;}
.list
{list-style: none;}
img 
{display: block;}

:root{
--primary-font: 'Roboto Regular', sans-serif;
--secondary-font: 'Roboto Medium', sans-serif;
--primary-text-color-theme-dark: #212121;
--secondary-color-theme-gray: #757575;
--primary-text-color-theme-light: #FFFFFF;
--secondary-text-color-theme-dark: #000000;
--accent-color: #2196F3;
--primary-background-color-theme-light: #F5F4FA;
--secondary-background-color-theme-light: #2F303A;
}
body{
    font-family: var(--primary-font);
    background-color: #FFFFFF;
}
.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }
/* header */
.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--secondary-text-color-theme-dark);
}
.web{
    color: var(--accent-color);}
.link
 {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
}
.email, .phone{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color-theme-gray);
}
.list :hover,
.list :focus{
    color: var(--accent-color)
}


